{% extends "layout.njk" %}

{% block content %}
        <div class="div-content">
            <section class="img-sec" style="background: url('{{teacher.avatar_url}}500x500') center center / cover no-repeat"></section>
            <section class="content-sec">
                <h2>Detalhes Professor</h2>
                <div class="item">
                    <div>Nome</div>
                    <div>{{teacher.name}}</div>
                </div>

                <div class="item">
                    <div>Idade</div>
                    <div>{{teacher.birth}}</div>
                </div>

                <div class="item">
                    <div>Grau de escolaridade</div>
                    <div>{{teacher.escolaridade}}</div>
                </div>

                <div class="item">
                    <div>Tipos de aula</div>
                    <div>{{teacher.tipoaula}}</div>
                </div>
                
                <div class="item">
                    <div>Acompanhamento</div>
                    <div>
                        {% for materia in teacher.materias%}
                        <span>{{materia}}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <div>Desde</div>
                    <div>{{teacher.data_atual}}</div>
                </div>
            </section>
        </div>
{% endblock %}